<br />
<section class="1">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item" ng-repeat="loai in listloai">
        <a
          class="nav-link active"
          aria-current="page"
          href="#dt/{{loai.id}}"
          ng-click="categorySP($event,$index+1)"
          >{{loai.ten}}</a
        >
      </li>
    </ul>
  </div>
</section>
<br />
<br />
<section class="2">
  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <center>
          <h2>Tất cả sản phẩm:</h2>
        </center>
        <br />
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</section>
<section class="3">
  <div class="container">
    <!-- muon tren cung 1 dong dung row
                tong cua 1 row =12 -->
    <div class="row">
      <div class="col-lg-3 col-md-6" ng-repeat="sp in listsp">
        <div>
          <div class="card" style="width: 16rem">
            <div class="sticker">Hàng mới</div>
            <a href="#sp1/{{sp.id}}" ng-click="detailSP($index)">
              <center>
                <img src="../img/{{sp.anh}}" class="anh" />
              </center>
            </a>
            <div class="card-body">
              <span class="card-title">{{sp.ten}}</span>
              <span>({{sp.hang}})</span>
              <span class="giacu">${{sp.giacu}}</span>
              <span class="giamoi">${{sp.giamoi}}</span>
              <br />
              <center>
                <button
                  type="button"
                  class="btn btn-outline-success"
                  ng-click="clickgiohang($event,$index)"
                >
                  Thêm vào giỏ hàng
                </button>
                <button
                  type="button"
                  class="btn btn-outline-success"
                  ng-click="muahang($event,$index)"
                >
                  Mua hàng
                </button>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
